<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
        <mat-label>Post title</mat-label>
        <input matInput name="title" required ngModel #title="ngModel"/>
        <mat-error *ngIf="title.invalid"> Please enter a post title. </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Post content</mat-label>
            <textarea matInput rows="6" name="content" required ngModel #content="ngModel"> </textarea>
            <mat-error *ngIf="content.invalid"> Please enter post content. </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onAddPost()">Post!</button>
    </form>
</mat-card>
