mat-card{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
mat-form-field,
textarea{
    width:100%;
}
button{
    width:20%;
    margin:auto;
}

p{
    margin:20px;
}
