<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            <p> {{ post.title }} </p>
        </mat-expansion-panel-header>
        <p>{{ post.content }}</p>
    </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1 text-center" *ngIf="posts.length <= 0">No Posts added yet!</p>
